@import "colores";
@import "tipografias";

@mixin negrita ($size) {
    font-weight: bold;
    font-size: $size;
}

$estiloPaginaweb:(
    alto: auto,
    ancho: 100%,
    organizacion: flex,
    forma:column,
    arriba: 150px,
    izquierda: 50px,    
);

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $colorTexto;
}

h2 {
    @include negrita ($textoGrande);
    padding-bottom: 25px;
} 

h3 {
    @include negrita ($textoChico);
}

h4 {
    @include negrita ($textoextraChico);
}

#linkparaig {
    text-decoration: underline;
    color: $colorRedes;
}

*{
    margin: 0;
    padding: 0;
    }

html {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 62.5%;
}

.navbar {
    position: fixed;
    background-color: $colorNav;
    opacity: 0.7;
    opacity: .7;
    width: 100%;
    height: 125px;
}


.tituloClic {
    display: flex;
    flex-direction: row;
    width: auto;
}

.logoestudio {
    height: 7.5rem;
    width: auto;
    padding-left: 50px;
}
    
.titulo {
    height: auto;
    width: auto;
    font-size: $textoextraGrande;
    padding-left: 25px;    
    }    

.nav-link {    
    font-size: $textoMedio;
}

.collapse {
    padding-left: 680px;
}

.cuerpo {
    height: auto;
    width: 100%;
    display: flex;
}

.imagendefondo { 
    top: 0;
    height: auto;
    width: 100%;
    object-fit: cover;
}  

.animate__animated {
    height: 50px;
    width: 50px;  
    position:fixed;
    bottom: 50px;
    right: 50px;    
} 

.contacto { 
    background-color:$colorNav;
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: left;
}

/* PESTAÑA SERVICIOS */

#grilla{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
    row-gap: 25px;
    grid-template-areas: 
     "servicios1 servicios2" 
     "servicios3 servicios4";
    padding-top: 150px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

.serviciostexto {
    width: auto;   
    font-size: $textoChico;
    left: 0px;
}

/* PESTAÑA ESTUDIO */

/* aca quiero aplicar map-get */

.pestañaestudio {
    @extend .pestañanosotros;
    padding-right: 50px;
    padding-bottom: 285px;
}

.estudiotexto {
    height: auto;
    width: auto;
    font-size: $textoChico;
}

/* PESTAÑA NOSOTROS */

.pestañanosotros {
    height: map-get( $estiloPaginaweb, alto );
    width: map-get( $estiloPaginaweb, ancho );
    display: map-get( $estiloPaginaweb, organizacion );
    flex-direction: map-get( $estiloPaginaweb, forma );
    padding-top: map-get( $estiloPaginaweb, arriba );
    padding-left: map-get( $estiloPaginaweb, izquierda);
}

.cajamauro {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    padding-right: 25px;
    padding-bottom: 25px;
}

.contenido {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    align-content:flex-start; 
}

.foto {
    height: 250px;
    width: auto;
    padding-left: 25px;
}

.nosotrostexto {
    height: auto;
    width: 800px;
    padding-left: 50px;
    padding-top: 25px;
    font-size: $textoChico;
}

.cajauli {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    padding-right: 25px;
    padding-bottom: 25px;
    align-content:flex-start; 
}

/* PESTAÑA ESCRIBINOS */

.pestañaescribinos {
    @extend .pestañanosotros;
}

.cajacuadro {
    padding-bottom: 25px;
    padding-bottom: 150px;
} 

.form-label {
    font-size: $textoChico;
}

.form-control, .form-select, .btn {
    font-size: $textoextraGrande/2 ;
}

.btn {
    background-color: rgb(176, 176, 176);
    &:hover {
        background-color: $colorEnviar;
    }
}

@media screen and (max-width: 320px) {

    #navbarSupportedContent {
        background-color:$colorNav;
    }

    .logoestudio {
        height: 3.5rem;
        width: auto;
        padding-left: 20px;
        padding-right: 20px;
    }
        
    .titulo {
        height: auto;
        width: auto;
        font-size: $textoMedio;
        padding-left: 10px;   
        }  

    .nav-link {    
        font-size: $textoMedio;
    }

    #navbarSupportedContent{
        padding-left: 25px;
    }

    .animate__animated {
        height: 50px;
        width: 50px;  
        position:fixed;
        bottom: 25px;
        right: 25px; 
    } 

    h2 {
        font-weight: bold;
        font-size: $textoChico;
        padding-top: 0px;
        padding-left: 0px;
        padding-bottom: 5px;
    } 

    h3 {
        font-weight: bold;
        font-size: $textoChico;
    }
    
    h4 {
        font-weight: bold;
        font-size: $textoextraChico;
    }

    .pestañaescribinos {
        height: auto;
        width: auto;
        display: flex;
        flex-direction: column;
        padding-top: 125px;
        padding-left: 25px;
        padding-right: 25px;
    }

    .pestañanosotros {
        height: auto;
        width: auto;
        display: flex;
        flex-direction: column;
        padding-top: 150px;
        padding-left: 25px;
        padding-right: 25px;
    }

    .pestañaestudio {
        height: auto;
        width: auto;
        display: flex;
        flex-direction: column;
        padding-top: 150px;
        padding-left: 25px;
        padding-right: 25px;
    }

    .estudiotexto {
        height: auto;
        width: auto;
        font-size: $textoextraChico;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
    }

    .cajamauro {
        height: auto;
        width: auto;
        display: flex;
        flex-direction: column;
        padding-right: 0px;
        padding-bottom: 0px;
    }
    
    .contenido {
        height: auto;
        width: auto;
        display: flex;
        flex-direction: column; 
    }
    
    .foto {
        height: auto;
        width: 90%;
        padding-left: 0px;
        padding-bottom: 10px;
    }
    
    .nosotrostexto {
        height: auto;
        width: auto;
        padding-left: 0px;
        padding-top: 0px;
        font-size: $textoextraChico;
    }
    
    .cajauli {
        height: auto;
        width: auto;
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        padding-left: 0px;
        padding-right: 0px;
    }

    #grilla{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto ;
        row-gap: 15px;
        grid-template-areas: 
         "servicios1" 
         "servicios2" 
         "servicios3" 
         "servicios4";
        padding-top: 125px;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 150px; 
    } 

    .serviciostexto {
        width: auto;   
        font-size: $textoextraChico;
        padding-top: 0px;
        padding-left: 0px;
    }

    .cuadrodeinformacion {
        height: auto;
        width: 80%;
        font-size: $textoextraChico;
        background-color: white;
        border-style: solid;
        border-width: 5px;    
    }    

    .cajacuadro {
        padding-left: 0px;
        padding-bottom: 75px;
    } 

    .cuerpo {
        height: 80vh;
        width: 100%;
        display: flex;
    }
   
    .contacto { 
        background-color:$colorNav;
        padding-left: 25px;
        padding-top: 25px;
        text-align: left;
    }

}