@charset "UTF-8";
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  font-weight: bold;
  font-size: 2rem;
  padding-bottom: 25px;
}

h3 {
  font-weight: bold;
  font-size: 1.5rem;
}

h4 {
  font-weight: bold;
  font-size: 1.25rem;
}

#linkparaig {
  text-decoration: underline;
  color: #222297;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 62.5%;
}

.navbar {
  position: fixed;
  background-color: #8d8d8d;
  opacity: 0.7;
  opacity: .7;
  width: 100%;
  height: 125px;
}

.tituloClic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: auto;
}

.logoestudio {
  height: 7.5rem;
  width: auto;
  padding-left: 50px;
}

.titulo {
  height: auto;
  width: auto;
  font-size: 2.5rem;
  padding-left: 25px;
}

.nav-link {
  font-size: 1.75rem;
}

.collapse {
  padding-left: 680px;
}

.cuerpo {
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.imagendefondo {
  top: 0;
  height: auto;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.animate__animated {
  height: 50px;
  width: 50px;
  position: fixed;
  bottom: 50px;
  right: 50px;
}

.contacto {
  background-color: #8d8d8d;
  padding-left: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: left;
}

/* PESTAÑA SERVICIOS */
#grilla {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  row-gap: 25px;
      grid-template-areas: "servicios1 servicios2"  "servicios3 servicios4";
  padding-top: 150px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}

.serviciostexto {
  width: auto;
  font-size: 1.5rem;
  left: 0px;
}

/* PESTAÑA ESTUDIO */
/* aca quiero aplicar map-get */
.pestañaestudio {
  padding-right: 50px;
  padding-bottom: 285px;
}

.estudiotexto {
  height: auto;
  width: auto;
  font-size: 1.5rem;
}

/* PESTAÑA NOSOTROS */
.pestañanosotros, .pestañaestudio, .pestañaescribinos {
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 150px;
  padding-left: 50px;
}

.cajamauro {
  height: auto;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 25px;
  padding-bottom: 25px;
}

.contenido {
  height: auto;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.foto {
  height: 250px;
  width: auto;
  padding-left: 25px;
}

.nosotrostexto {
  height: auto;
  width: 800px;
  padding-left: 50px;
  padding-top: 25px;
  font-size: 1.5rem;
}

.cajauli {
  height: auto;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 25px;
  padding-bottom: 25px;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

/* PESTAÑA ESCRIBINOS */
.cajacuadro {
  padding-bottom: 25px;
  padding-bottom: 150px;
}

.form-label {
  font-size: 1.5rem;
}

.form-control, .form-select, .btn {
  font-size: 1.25rem;
}

.btn {
  background-color: #b0b0b0;
}

.btn:hover {
  background-color: #5577f0;
}

@media screen and (max-width: 320px) {
  #navbarSupportedContent {
    background-color: #8d8d8d;
  }
  .logoestudio {
    height: 3.5rem;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  .titulo {
    height: auto;
    width: auto;
    font-size: 1.75rem;
    padding-left: 10px;
  }
  .nav-link {
    font-size: 1.75rem;
  }
  #navbarSupportedContent {
    padding-left: 25px;
  }
  .animate__animated {
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 25px;
    right: 25px;
  }
  h2 {
    font-weight: bold;
    font-size: 1.5rem;
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 5px;
  }
  h3 {
    font-weight: bold;
    font-size: 1.5rem;
  }
  h4 {
    font-weight: bold;
    font-size: 1.25rem;
  }
  .pestañaescribinos {
    height: auto;
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 125px;
    padding-left: 25px;
    padding-right: 25px;
  }
  .pestañanosotros, .pestañaestudio, .pestañaescribinos {
    height: auto;
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 150px;
    padding-left: 25px;
    padding-right: 25px;
  }
  .pestañaestudio {
    height: auto;
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 150px;
    padding-left: 25px;
    padding-right: 25px;
  }
  .estudiotexto {
    height: auto;
    width: auto;
    font-size: 1.25rem;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
  }
  .cajamauro {
    height: auto;
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .contenido {
    height: auto;
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .foto {
    height: auto;
    width: 90%;
    padding-left: 0px;
    padding-bottom: 10px;
  }
  .nosotrostexto {
    height: auto;
    width: auto;
    padding-left: 0px;
    padding-top: 0px;
    font-size: 1.25rem;
  }
  .cajauli {
    height: auto;
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
  }
  #grilla {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: auto auto auto auto;
        grid-template-rows: auto auto auto auto;
    row-gap: 15px;
        grid-template-areas: "servicios1"  "servicios2"  "servicios3"  "servicios4";
    padding-top: 125px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 150px;
  }
  .serviciostexto {
    width: auto;
    font-size: 1.25rem;
    padding-top: 0px;
    padding-left: 0px;
  }
  .cuadrodeinformacion {
    height: auto;
    width: 80%;
    font-size: 1.25rem;
    background-color: white;
    border-style: solid;
    border-width: 5px;
  }
  .cajacuadro {
    padding-left: 0px;
    padding-bottom: 75px;
  }
  .cuerpo {
    height: 80vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contacto {
    background-color: #8d8d8d;
    padding-left: 25px;
    padding-top: 25px;
    text-align: left;
  }
}
/*# sourceMappingURL=style.css.map */